language: python
env:
  - DJANGO_VERSION=">=1.8.0,<1.9.0"
  - DJANGO_VERSION=">=1.9.0,<1.10.0"
  - DJANGO_VERSION=">=1.10,<1.11.0"
python:
    - 2.7
install:
  - pip install -q Django$DJANGO_VERSION
  - pip install -r requirements.txt
script: python run_tests.py
