{% extends "databrowse/base_site.html" %}
{% load i18n %}

{% block title %}{{ model.verbose_name_plural|capfirst }} {% trans "with" %} {{ field.verbose_name }} {% trans "in" %} {{ month|date:"F Y" }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">{% trans "Home" %}</a> / <a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a> / <a href="../../../">{% trans "Calendars" %}</a> / <a href="../../">{% trans "By" %} {{ field.verbose_name }}</a> / <a href="../">{{ month|date:"Y" }}</a> / {{ month|date:"F" }}</div>

<h1>{{ object_list.count }} {% if object_list.count|pluralize %}{{ model.verbose_name_plural }}{% else %}{{ model.verbose_name }}{% endif %} {% trans "with" %} {{ field.verbose_name }} {% trans "on" %} {{ month|date:"F Y" }}</h1>

<ul class="objectlist">
{% for object in object_list %}
<li class="{% cycle 'odd' 'even' %}"><a href="{{ object.url }}">{{ object }}</a></li>
{% endfor %}
</ul>

{% endblock %}
