{% extends "databrowse/base_site.html" %}
{% load i18n %}

{% block title %}{{ object.model.verbose_name|capfirst }}: {{ object }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">{% trans "Home" %}</a> / <a href="{{ object.model.url }}">{{ object.model.verbose_name_plural|capfirst }}</a> / {{ object }}</div>

<h1>{{ object.model.verbose_name|capfirst }}: {{ object }}</h1>

<table class="objectinfo">
{% for field in object.fields %}
<tr class="{% cycle 'odd' 'even' %}">
<th>{{ field.field.verbose_name|capfirst }}</th>
<td>
{% if field.urls %}
{% for value, url in field.urls %}
{% if url %}<a href="{{ url }}">{% endif %}{{ value }}{% if url %}</a>{% endif %}{% if not forloop.last %}, {% endif %}
{% endfor %}
{% else %}{% trans "None" %}{% endif %}
</td>
</tr>
{% endfor %}
</table>

{% for related_object in object.related_objects %}
  <div class="related">
  <h2>{% blocktrans with related_field=related_object.related_field verbose_name_plural=related_object.model.verbose_name_plural %}Related to the following {{ verbose_name_plural }}, as "{{ related_field }}"{% endblocktrans %}:</h2>
  {% if related_object.object_list %}
  <ul class="objectlist">
    {% for object in related_object.object_list %}
    <li class="{% cycle 'odd' 'even' %}"><a href="{{ object.url }}">{{ object }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="quiet">{% trans "(None)" %}</p>
  {% endif %}
  </div>
{% endfor %}

{% endblock %}
